* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  align-items: center;
}



.open-btn {
  margin: 10px 20px;
  padding: 10px;
  font-size: 2rem;
}

