* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #d5c592;
}
.span_stat {
  font-size: 30px;
}

.open-btn {
  margin: 10px 20px;
  padding: 10px;
  font-size: 2rem;
}

.button_fight {
  width: 75px;
  margin: 8px auto;
  background-color: rgb(211, 237, 184);
  outline: none;
  border: 1px solid #55321C;
  border-radius: 3px 3px 12px 12px;
  font-family: 'League Gothic', sans-serif;
  font-size: 30px;
}

.button_fight:hover {
  cursor: pointer;
  color: rgb(211, 237, 184);
  background-color:  #540100;
  border: 1px solid #D5DBC1;
}
