* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #d5c592;
}
.span_stat {
  font-size: 30px;
}

.open-btn {
  margin: 10px 20px;
  padding: 10px;
  font-size: 2rem;
}

.button_fight {
  margin-top: 20px;
}
