.my_weapons {
  margin-right: 25px;
  color: #d5c592;
}

.text {
  color: #d5c592;
  font-size: 35px;
  margin-right: 25px;
}

@media (max-width: 768px) {
  .text {
    margin-bottom: 25px;
  }

  .my_weapons {
    margin-bottom: 25px;
  }
}
