.ul_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style-type: none;

  background-color: #540100;
}

ul > li > a{
  text-decoration: none;
}
/*.li {*/

/*  !*border: 1px solid rgb(238, 5, 5);*!*/
/*  border-radius: 25%;*/
/*}*/
