.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
   display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  margin-left: -15px;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  display: flex;
  font-size:20px;
  width: fit-content;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 55px;
  border-radius: 50px;
  background-color: rgb(39,64,42);
  border: 10px solid rgb(248,255,206);
  opacity: 0.95;
  transform: scale(0.5);
  transition: 0.4s all;
}

 .modal_content.active {
  transform: scale(1);
}

.modal_content.active:not(:last-child) {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .modal_content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
