.modal {

  /* background-color: #63bd14 0.4; */

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65%;
   display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
  margin-left: -15px;
  /*font-size: 35;*/
}

.modal.active {
  
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  
font-size: 35px;
  /*padding: 40px;*/
  /*border-radius: 12px;*/
  /* background-color: rrgb(46,80,48); */
  /*height: 200px;*/
  /*width: 200px;*/
  padding: 50px;
  border-radius: 50px;
background-color: rgb(39,64,42);
    border: 10px solid rgb(248,255,206);

    /* box-shadow: inset 0 0 10px 5px rgba(0,0,0,0.5)  */


  /* background: rgb(222,231,178); */
  opacity: .5;


  height: 400px;
  width: 400px;

  transform: scale(0.5);
  transition: 0.4s all;
}

 .modal_content.active {
  transform: scale(1);
}



/*.open_question {
  all: unset;
  padding: 10px;
  color: aquamarine;
  margin-right: 15px;
  background: violet;
  border: 1px solid red;
  border-radius: 5px;
}

.open_question:hover {
cursor: pointer;
background: red;
border: 1px solid violet;
} */
