body {
  background: url(https://on-desktop.com/ru/images/wp.php?path=/wps/Backgrounds_Wolverine__yellow_background_097188_.jpg&wp=16) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
