.arena_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'League Gothic', sans-serif;
}
.buttonArena {
  width: 45px;
  height: 35px;
  border-radius: 5px; box-shadow: 3px 3px 3px;
  background-color: rgb(211, 237, 184);
  margin-bottom: 10px;
}
 .buttonArena:hover {
  background-color: #25513C;
 }
.random {
  margin-top: 10px;
  padding: 5px 12px;
  background-color: rgb(211, 237, 184);
  border-radius: 10px; box-shadow: 0px 1px 3px; font-size: 20px;
  font-family: 'League Gothic', sans-serif;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.random:hover {
  background-color: #540100;
  padding: 7px 14px;
  color: rgb(211, 237, 184);
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
    border-bottom: 3px solid black;
}
/*.ul_arena {*/
/*    border-radius: 10%;*/
/*    padding: 20px;*/
/*    background-color: rgba(37, 81, 60, 0.6);*/
/*}*/
.title {
    margin-top: 5px;
    font-size: 50px;
}
.svgIcon {
    /*position: absolute;*/
    padding-top: 10px;
}
/*.spanEnemy {*/
/*    position: relative;*/
/*}*/
